<mat-toolbar color="primary">
  <div class="logo">
    <img src="{{logoSrc}}" alt="" class="logoimg" id="logoImage">
  </div>

  <div class="headline">
    <h1>{{ 'PHASMOPHOBIA_JOURNAL' | translate }}</h1>
  </div>
  <div class="navigation">
    <a (click)="toggleTheme()" class="toggleTheme" id="mobileLightTheme"><mat-icon>highlight</mat-icon>&nbsp;&nbsp;</a>
    <a class="burgerMenu" (click)="toggleMenu()"><mat-icon>menu</mat-icon></a>
    <div class="textMenu">
      <a appActiveLink routerLink="/" class="navitem">{{'HOME' | translate}}</a>
      <a routerLink="/ghosts" routerLinkActive="active" class="navitem">{{'GHOSTS' | translate}}</a>
      <a routerLink="/tools" routerLinkActive="active" class="navitem">{{'TOOLS' | translate}}</a>
      <a routerLink="/cursed-possessions" routerLinkActive="active" class="navitem">{{'CURSED-POSSESSIONS' |
        translate}}</a>
      <a routerLink="/about" routerLinkActive="active" class="navitem">{{'ABOUT' | translate}}</a>
      <a (click)="toggleTheme()" class="toggleTheme">&nbsp;&nbsp;<mat-icon>highlight</mat-icon></a>
    </div>
  </div>
</mat-toolbar>
