<mat-toolbar color="primary">
  <div class="logo">
    <img src="{{logoSrc}}" alt="" class="logoimg" id="logoImage">
  </div>

  <div class="headline">
    <h1>{{ 'PHASMOPHOBIA_JOURNAL' | translate }}</h1>
  </div>
  <div class="navigation">
    <a (click)="toggleTheme()" class="toggleTheme" id="mobileLightTheme"><mat-icon>highlight</mat-icon>&nbsp;&nbsp;</a>
    <a class="burgerMenu" routerLink="navigation/menu"><mat-icon>menu</mat-icon></a>
    <div class="textMenu">
      <a mat-button routerLink="/ghosts" class="navitem">{{'GHOSTS' | translate}}</a>
      <a mat-button routerLink="/cursed-possessions" class="navitem">{{'CURSED-POSSESSIONS' | translate}}</a>
      <a (click)="toggleTheme()" class="toggleTheme">&nbsp;&nbsp;<mat-icon>highlight</mat-icon></a>
    </div>
  </div>


  <!--
      <a mat-button routerLink="/items" class="navitem">{{'ITEMS' | translate}}</a>
      <a mat-button routerLink="/maps" class="navitem">{{'MAPS' | translate}}</a>
      <a mat-button routerLink="/ghosts" class="navitem">{{'GHOSTS' | translate}}</a>

      <select (change)="changeLanguage($event)" class="navitems" >
      <option [value]="'en'" [selected]="getCurrentLanguage() === 'en'">{{ 'ENGLISH' | translate }}</option>
      <option [value]="'de'" [selected]="getCurrentLanguage() === 'de'">{{ 'GERMAN' | translate }}</option>
    </select>
  -->


</mat-toolbar>
