.mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.logoimg {
  max-width: 30%;
  max-height: 40px;
  height: auto;
  margin-top: 10px;
}

.headline {
  flex: 1;
  text-align: center;
  font-family: PhasmophobiaFont;
  letter-spacing: 3px;
  font-size: 20px;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navitem {

  margin-left: 15px;
}


select {
  border: none;
  font-size: 16px;
  margin-left: 10px;
}


select:hover {
  cursor: pointer;
}

@media only screen and (max-width: 640px) {
  .logo {
    display: none;
  }

  .headline {
    font-size: 12px;
  }
}

@media only screen and (max-width: 1199px) {

  .textMenu{
    display: none;
  }
}

@media only screen and (min-width: 1200px) {
  .burgerMenu , #mobileLightTheme {
    display: none;
  }
}

.toggleTheme:hover{
  cursor: pointer;
}






