/* header.component.css */
.mat-toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.logoimg {
  max-width: 10%;
  height: auto;
  margin-top: 10px;
}

.headline {
  flex: 1;
  text-align: center;
}

.navigation {
  flex: 1;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.navitem {
  color: black;
  margin-left: 15px;
}


select{
  border: none;
  font-size: 16px;
  margin-left: 10px;
}


select:hover{
  cursor: pointer;
}

