<div class="container">
  <div class="introduction">
    <h1>About the Phasmophobia Journal</h1>
    <br>
    <h2>Your Definitive Guide to the Paranormal</h2>
    <p>Step into the eerie realm of the Phasmophobia Journal, a creation born solely from the passion of its maker, Noel. As a solo endeavor, this journal has been meticulously crafted to provide unwavering support and knowledge to the entire Phasmophobia community.</p>
    <br>
    <h3>Discover the Secrets of Phasmophobia</h3>
    <p>What is the Phasmophobia Journal all about? It's your ultimate companion in the world of Phasmophobia – a game that invites you to step into the shoes of a fearless ghost hunter. The journal serves as your go-to source for unraveling the mysteries that lay beyond our realm.</p>
    <br>
    <h3>A Comprehensive Ghost Encyclopedia</h3>
    <p>Picture this: A meticulously organized list of ghosts, each brought to life with intricate details that set them apart. But that's just the beginning – what truly makes the Phasmophobia Journal special is its interactivity and depth of information.</p>
    <br>
    <h4>Tailored Investigation Tools</h4>
    <p>Imagine being able to filter these ghosts based on the evidence they leave behind, their speed, and their sanity threshold. With a few clicks, you can uncover exactly what you need to prepare for your encounters. And if you're in search of a particular ghost, our intuitive search feature is at your service.</p>
    <br>
    <h4>Unveil Ghost Histories</h4>
    <p>But wait, there's more! Delve deeper into the spirit world by clicking on a ghost's entry. A treasure trove of knowledge awaits – from their history to their strengths and weaknesses, you'll be armed with insights that could very well tip the scales in your favor.</p>
    <br>
    <h3>Unravel the Realm of Cursed Possessions</h3>
    <p>Beyond the chilling encounters, the Phasmophobia Journal also invites you to explore the realm of cursed possessions. Delve into the enigmatic world of cursed items and immerse yourself in the significance of tarot cards. Whether you're curious about the cursed or eager to decode the tarot's secrets, this journal holds the key.</p>
    <br>
    <h3>A Personal Commitment to Excellence</h3>
    <p>Why is the Phasmophobia Journal unique? It's a personal endeavor – a testament to the commitment and dedication of its creator, Noel. This journal was birthed from the desire to create a platform that not only educates but also unites the Phasmophobia community. Whether you're a seasoned investigator or just setting foot into the unknown, this journal is your trusted guide.</p>
    <br>
    <h3>Embark on the Journey</h3>
    <p>So, fellow seeker of the supernatural, join us on this expedition. Unveil the enigmas that dwell in the shadows, confront your fears, and become a master investigator. Let's forge a community that's bound by curiosity and fearlessness. The Phasmophobia Journal is your compass – let it guide you through the unknown. Happy hunting!</p>
  </div>
  <div class="support">
    <br>
    <h3>Support the Phasmophobia Journal &#10084;</h3>
    <p>If you find the Phasmophobia Journal valuable and enjoy an ad-free experience, consider supporting me by buying me a coffee! Your support helps me maintain the website, create new content, and continue to provide a resource for the community.</p>
    <p><a href="https://www.buymeacoffee.com/noelriedmann">Buy Me a Drink	&#10084;</a></p>
  </div>
  <div class="contact-info">
    <br>
    <h4>Contact Us</h4>
    <p>For inquiries, feedback, or collaboration, you can reach us at:</p>
    <ul>
      <li>Email: <a href="mailto:phasmo.journal@gmail.com">phasmo.journal@gmail.com</a></li>
      <li>Follow the creator on Twitter: <a href="https://twitter.com/noel_riedmann" target="_blank">@noel_riedmann</a></li>
    </ul>
  </div>
  <hr>
  <div class="legal-info">
    <br>
    <h4>Legal Information</h4>
    <p>By using the Phasmophobia Journal website, you agree to comply with and be bound by the following terms and conditions:</p>
    <h5>Terms of Use</h5>
    <p>The content on this website is provided for informational purposes only. We make no representations or warranties of any kind, express or implied, about the completeness, accuracy, reliability, suitability, or availability of the information contained on the website.</p>
    <h5>Privacy Policy</h5>
    <p>Your privacy is important to us. Our Privacy Policy outlines how we collect, use, and protect your personal information. By using this website, you consent to the terms of our Privacy Policy.</p>
    <h5>Copyright Notice</h5>
    <p>This website and its content are protected by copyright law. All content, including text, images, graphics, and other materials, is owned by the Phasmophobia Journal or used with appropriate permissions. You may not reproduce, distribute, modify, or use any content without our explicit permission.</p>
    <h5>Contact Information</h5>
    <p>If you have any questions or concerns about these terms, please contact us at:</p>
    <ul>
      <li>Email: <a href="mailto:phasmo.journal@gmail.com">phasmo.journal@gmail.com</a></li>
    </ul>
  </div>
</div>
