<div class="container">
  <div class="filter">
    <mat-form-field class="inputField">
      <input type="search" #searchField matInput (input)="applyFilter($event)" (input)="autocompleteOptionsVisible = true"
        [formControl]="myControl" placeholder="Search Ghosts" />
    </mat-form-field>


    <div class="autocomplete-options" *ngIf="autocompleteOptionsVisible && myControl.value && options.length > 0">
      <div *ngFor="let option of options" class="autocomplete-option"
        (click)="onAutocompleteOptionClick($event, option)">
        {{ option }}
      </div>
    </div>




    <div class="filteritems">
      <div class="EVIDENCEBOX">
        <div class="evidencehead">Evidence</div>
        <div *ngFor="let evidenceName of uniqueEvidenceNames; let i = index">
          <mat-checkbox class="evidence-checkbox" [value]="evidenceName" [(ngModel)]="evidenceChecked[i]"
            (change)="onEvidenceCheckboxChange($event)">
            {{evidenceName}}
          </mat-checkbox>
        </div>
      </div>
      <div class="SPEEDBOX">
        <div class="speedhead">Speed</div>
        <div *ngFor="let speedName of uniqueSpeedNames; let i = index">
          <mat-checkbox class="speed-checkbox" [value]="speedName" [(ngModel)]="speedChecked[i]"
            (change)="onSpeedCheckboxChange($event)">
            {{speedName}}
          </mat-checkbox>
        </div>
      </div>
      <div class="SANITYTHRESHOLDBOX">
        <div class="sanityThresholdhead">Sanity Threshold</div>
        <div class="sanityThreshold-container">
          <div class="sanityThreshold-column">
            <div
              *ngFor="let sanityThresholdName of uniqueSanityThresholdNames.slice(0, sanityThresholdSplitIndex); let i = index">
              <mat-checkbox class="sanityThreshold-checkbox" [value]="sanityThresholdName"
                [(ngModel)]="sanityThresholdChecked[i]" (change)="onSanityThresholdCheckboxChange($event)">
                {{sanityThresholdName}}
              </mat-checkbox>
            </div>
          </div>
          <div class="sanityThreshold-column">
            <div
              *ngFor="let sanityThresholdName of uniqueSanityThresholdNames.slice(sanityThresholdSplitIndex); let i = index">
              <mat-checkbox class="sanityThreshold-checkbox" [value]="sanityThresholdName"
                [(ngModel)]="sanityThresholdChecked[i + sanityThresholdSplitIndex]"
                (change)="onSanityThresholdCheckboxChange($event)">
                {{sanityThresholdName}}
              </mat-checkbox>
            </div>
          </div>
        </div>
      </div>
    </div>
    <button class="clearbtn" (click)="clearAllFilters()">Clear All Filters</button>



  </div>

  <div class="list">
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
      <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef>Name</th>
        <td mat-cell *matCellDef="let row" class="mat-cell">{{ row.name | translate }}</td>
      </ng-container>

      <ng-container matColumnDef="Evidence">
        <th mat-header-cell *matHeaderCellDef>Evidence</th>
        <td mat-cell *matCellDef="let row" class="mat-cell">
          <span class="evidence" [ngClass]="{ 'bold': selectedEvidenceNames.includes(evidence.name) }"
            *ngFor="let evidence of row.evidence.$values">
            {{ evidence.name }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Speed">
        <th mat-header-cell *matHeaderCellDef>Speed</th>
        <td mat-cell *matCellDef="let row" class="mat-cell">
          <span class="speed" [ngClass]="{ 'bold': selectedSpeedNames.includes(speed.name) }"
            *ngFor="let speed of row.speed.$values">
            {{ speed.name }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="SanityThreshold">
        <th mat-header-cell *matHeaderCellDef>Sanity Threshold</th>
        <td mat-cell *matCellDef="let row" class="mat-cell">
          <span class="sanityThreshold" [ngClass]="{
              'bold': selectedSanityThresholdNames.includes(sanityThreshold.name)
            }" *ngFor="let sanityThreshold of row.sanityThreshold.$values">
            {{ sanityThreshold.name }}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="Details">
        <th mat-header-cell *matHeaderCellDef>Details</th>
        <td mat-cell *matCellDef="let row" class="mat-cell mat-column-Details">
          <a [routerLink]="['/ghosts/details', row.ghostId]">Show Details</a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="mat-row"></tr>
    </table>
    <div class="loadingPlaceholder" *ngIf="isLoading">Loading... <br> This might take a bit! <br> If you still see no
      ghosts after waiting for a while try reloading the page(f5).</div>
  </div>
</div>
