@media only screen and (min-width: 1200px) {
  .container {
    display: flex;
  }

  .filter {
    width: 20%;
    height: 100%;
    padding: 10px;
  }

  .list {
    width: 80%;
    padding: 10px;
    padding-right: 20px;
  }

  .inputField {
    padding: 20px;
    padding-top: 35px;
    max-width: 100%;
  }

  .evidence,
  .speed,
  .sanityThreshold {
    display: block;
    margin: 5px;
  }



  .bold {
    font-weight: bold;
  }

  .evidence-checkbox,
  .evidencehead,
  .speed-checkbox,
  .sanityThreshold-checkbox {
    margin-bottom: 15px;
    margin-left: 20px;
  }

  .evidencehead,
  .speedhead,
  .sanityThresholdhead {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .sanityThreshold-container {
    display: flex;
  }

  .clearbtn,
  .mat-mdc-raised-button:not(:disabled) {
    font-family: PhasmophobiaJournalFont;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 10px;

  }
}

/* Medium screens (max-width: 1200px) and (min-width: 768px) */
@media only screen and (max-width: 1199px) and (min-width: 768px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .filteritems {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
  }

  .inputField {
    padding: 20px;
    padding-top: 40px;
    max-width: 100%;
  }

  .filter {
    display: flex;
    flex-direction: column;
  }

  .evidence,
  .speed,
  .sanityThreshold {
    display: block;
  }



  .bold {
    font-weight: bold;
  }

  .evidence-checkbox,
  .evidencehead,
  .speed-checkbox,
  .sanityThreshold-checkbox {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .evidencehead,
  .speedhead,
  .sanityThresholdhead {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .sanityThreshold-container {
    display: flex;
  }

  .clearbtn,
  .mat-mdc-raised-button:not(:disabled) {
    font-family: PhasmophobiaJournalFont;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }
}

/* Small screens (max-width: 768px) and (min-width: 480px) */
@media only screen and (max-width: 768px) and (min-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .filteritems {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 20px;
    justify-content: space-between;
  }

  .inputField {
    padding: 20px;
    padding-top: 40px;
    max-width: 100%;
  }

  .filter {
    display: flex;
    flex-direction: column;
  }

  .evidence,
  .speed,
  .sanityThreshold {
    display: block;
  }



  .bold {
    font-weight: bold;
  }

  .evidence-checkbox,
  .evidencehead,
  .speed-checkbox,
  .sanityThreshold-checkbox {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .evidencehead,
  .speedhead,
  .sanityThresholdhead {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .sanityThreshold-container {
    display: flex;
  }

  .clearbtn,
  .mat-mdc-raised-button:not(:disabled) {
    font-family: PhasmophobiaJournalFont;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
  }

  .mat-column-SanityThreshold,
  .mat-column-Speed {
    display: none;
  }
}

/* Extra small screens (max-width: 480px) */
@media only screen and (max-width: 480px) {
  .container {
    display: flex;
    flex-direction: column;
  }

  .filteritems {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    justify-content: space-between;
  }

  .inputField {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 40px;
    max-width: 100%;
  }

  .filter {
    display: flex;
    flex-direction: column;
  }

  .evidence,
  .speed,
  .sanityThreshold {
    display: block;
  }



  .bold {
    font-weight: bold;
  }

  .evidence-checkbox,
  .evidencehead,
  .speed-checkbox,
  .sanityThreshold-checkbox {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 15px;
  }

  .evidencehead,
  .speedhead,
  .sanityThresholdhead {
    font-weight: bold;
    margin-left: 20px;
    margin-bottom: 15px;
    margin-top: 10px;
  }

  .sanityThreshold-container {
    display: flex;
  }

  .clearbtn,
  .mat-mdc-raised-button:not(:disabled) {
    font-family: PhasmophobiaJournalFont;
    font-size: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;

  }

  .mat-column-SanityThreshold,
  .mat-column-Speed {
    display: none;
  }

  .evidence {
    display: block;
    margin: 5px;
  }

  .SANITYTHRESHOLDBOX {
    display: none;
  }
}

.loadingPlaceholder {
  margin: 20px;
  font-size: 32px;
}




