.container{
  display: flex;
  min-height: 100%;;
}

.filter{
  width: 20%;
  height: 100%;
  padding: 10px;
}

.list{
  width: 80%;
  padding: 10px;
}

.inputField{
  padding: 20px;
  padding-top: 38px;
}
