<div class="all">
  <div class="ghosts">
    <div class="frame">
      <div class="img"><img class="phantom" [class.hide]="hidePhantom == true || phntmHide==true"
          src="/assets/images/ghost-flickering.png" alt="ghost"></div>
      <div class="info">
        <p>Phantom</p><button class="hide" [class.active]="phntmHide==true" (click)="hide('phntm')">hide</button>
      </div>
    </div>
    <div class="frame">
      <div class="img"><img class="normal" [class.hide]="hideNormal == true || nrmlHide==true"
          src="/assets/images/ghost-flickering.png" alt="ghost"></div>
      <div class="info">
        <p>Normal</p><button class="hide" [class.active]="nrmlHide==true" (click)="hide('nrml')">hide</button>
      </div>
    </div>
    <div class="frame">
      <div class="img"><img class="oni" [class.hide]="hideOni == true || nHide==true"
          src="/assets/images/ghost-flickering.png" alt="ghost"></div>
      <div class="info">
        <p>Oni</p><button class="hide" [class.active]="nHide==true" (click)="hide('n')">hide</button>
      </div>
    </div>
  </div>
</div>
