.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border-bottom-style: solid;
  padding: 10px;
  font-family: cursive;
  height: 5rem;
}

.logo {
  width: 35%;
}

.headline {
  width: 30%;
  text-align: center;
}

.navigation {
  width: 25%;
  text-align: right;
  font-size: 16px;
}

.navitem{
  color: black;
}


.language {
  width: 10%;
  text-align: right;
}

.logoimg {
  max-width: 60px;
}

.navitems{
  font-family: cursive;
  border-style: none;
  font-size: 16px;
}
