.container {
  display: flex;
  flex-direction: column;
}

.info {
  display: flex;
  flex-direction: row;
}

.left {
  width: 80%;
  padding: 2%;
}

.left h3 {

  margin-bottom: 15px;
}


.left p {
  margin-top: 5px;
}

.right {
  width: 20%;
  padding: 2%;
}

li {
  margin: 10px 0;
}

h1 {
  margin-left: 2%;
  margin-top: 2%;
}

p {
  margin-bottom: 20px;
}

.backbtn {
  font-family: PhasmophobiaJournalFont;
  font-size: 20px;
  margin-left: 20px;
  margin-top: 10px;
}

.backbtn:hover{
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .info {
    display: flex;
    flex-direction: column;
  }

  .right{
    display: flex;
  }

  .rightitem{
    margin: 10px;
  }

  .left{
    width: 100%;
  }

  .backbtn{
    position: fixed;
    right: 10px;
    bottom: 10px;
  }
}

.loadingPlaceholder{
  margin: 20px;
  font-size: 32px;
}

