.container{
  display: flex;
  flex-direction: column;
}

.info{
  display: flex;
  flex-direction: row;
  margin: 10px;
}

.left{
  width: 80%;
  padding: 10px;
}

.right{
  width: 20%;
}

li{
  margin: 10px 0;

}

h2{
  margin-left: 20px;
  margin-top: 20px;
}

p{
  margin-bottom: 20px;
}

h3{
  margin-bottom: 5px;
}
