<div class="container">
  <div *ngIf="ghostDetails">
    <h2>{{ ghostDetails.name |translate }}</h2>
    <div class="info">
      <div class="left">
        <h3>{{'JOURNAL_INFO'|translate}}</h3>
        <p> {{ ghostDetails.journalInfo |translate}}</p>
        <h3>{{'STRENGTHS'|translate}}</h3>
        <p> {{ ghostDetails.strengths |translate}}</p>
        <h3>{{'WEAKNESSES'|translate}}</h3>
        <p>{{ ghostDetails.weaknesses |translate}}</p>
        <h3>{{'BEHAVIOUR'|translate}}</h3>
        <p>{{ ghostDetails.behaviour |translate}}</p>
        <h3>{{'TEST'|translate}}{{ghostDetails.name |translate}}</h3>
        <p> {{ ghostDetails.test|translate}}</p>
      </div>
      <div class="right">
        <h3>{{'EVIDENCE'|translate}}</h3>
        <ul>
          <li *ngFor="let evidence of ghostDetails.evidence.$values">{{ evidence.name }}</li>
        </ul>
        <h3>{{'SPEED'|translate}}</h3>
        <ul>
          <li *ngFor="let speed of ghostDetails.speed.$values">{{ speed.name }}</li>
        </ul>
        <h3>{{'SANITY_THRESHOLD'|translate}}</h3>
        <ul>
          <li *ngFor="let sanityThreshold of ghostDetails.sanityThreshold.$values">{{ sanityThreshold.name }}</li>
        </ul>
      </div>

      <div *ngIf="!ghostDetails">
        <p>Loading ghost details...</p>
      </div>
    </div>
  </div>
