.navMenu {
  margin-left: 20px;
  margin-top: 30px;
  vertical-align: baseline;
  font-size: 25px;
}

li {
  margin-bottom: 30px;
}

a {
  color: black;
}

.mat-icon {
  scale: 2;
}

@media screen and (prefers-color-scheme: dark) {
  div, a{
    color: #cfcfcf;
  }
}
