<div class="navMenu">
  <ul>
    <li> <a routerLink="/home"><mat-icon class="mat-icon">home</mat-icon>&nbsp;&nbsp;{{'coming soon...' | translate}}</a></li>
    <li> <a routerLink="/ghosts"><mat-icon>school</mat-icon>&nbsp;&nbsp;{{'GHOSTS' | translate}}</a></li>
    <li> <a routerLink="/items"><mat-icon>highlight</mat-icon>&nbsp;&nbsp;{{'coming soon...' | translate}}</a></li>
    <li> <a routerLink="/items"><mat-icon>map</mat-icon>&nbsp;&nbsp;{{'coming soon...' | translate}}</a></li>
  </ul>
</div>
