<div class="navMenu">
  <ul>
    <li> <a routerLink="/home"><mat-icon class="mat-icon">home</mat-icon>&nbsp;&nbsp;{{'HOME' | translate}}</a></li>
    <li> <a routerLink="/ghosts"><mat-icon>supervisor_account</mat-icon>&nbsp;&nbsp;{{'GHOSTS' | translate}}</a></li>
    <li> <a routerLink="/cursed-possessions"><mat-icon>extension</mat-icon>&nbsp;&nbsp;{{'CURSED-POSSESSIONS' | translate}}</a></li>
    <li> <a routerLink="/about"><mat-icon>info</mat-icon>&nbsp;&nbsp;{{'ABOUT' | translate}}</a></li>
    <!--<li> <a routerLink="/items"><mat-icon>highlight</mat-icon>&nbsp;&nbsp;{{'coming soon...' | translate}}</a></li>
    <li> <a routerLink="/items"><mat-icon>map</mat-icon>&nbsp;&nbsp;{{'coming soon...' | translate}}</a></li> -->
  </ul>
</div>
