.progress-bar {
  margin-top: 2px;
  margin-left: 5px;
  position: relative;
  width: 100%;
  height: 20px;
}

.progress {
  height: 100%;
}

.timestamp {
  position: absolute;
  width: 2px;
  height: 100%;
  transform: translateX(-50%);
  top: 0;
}

.timerandbutton {
  display: flex;
  flex-direction: row;
  width: 100%;
  padding-right: 10px;
}


.timestamp-container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
}

.timestamp-text {
  font-size: smaller;
  padding: 5px 10px;
  border-radius: 5px;
}

.mat-icon:hover{
  cursor: pointer;
}
