
@font-face {
  font-family: PhasmophobiaFont;
  src: url("/assets/fonts/October Crow.ttf") format("truetype");
}

@font-face {
  font-family: PhasmophobiaJournalFont;
  src: url("/assets/fonts/lazy_dog.ttf") format("truetype");
}

body{
  background: var(--background-image);
  font-family: PhasmophobiaJournalFont;
  font-size: 22px;

  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body::-webkit-scrollbar{
  display: none;
}

div,
a, td, tr {
  color: var(--text-color);
}

.clearbtn, .backbtn
{
  background-color: var(--button-background-color);
  color: var(--button-text-color);
  border-style: none;
  padding: 10px;
  border-radius: 15px;
}

.clearbtn:hover, .backbtn:hover{
  cursor: pointer;
  transition: .3s;
  box-shadow: var(--button-hover-box-shadow);
}


#cursed-possession-item{
  background-color: var(--cursed-possession-item-background-color);
  border-color: var(--cursed-possession-item-border-color);
}

.mat-mdc-form-field-input-control.mat-mdc-form-field-input-control{
  color: var(--text-color);
  caret-color: var(--text-color);
}



:root {
  --background-image: url('src/assets/images/background.png');
  --text-color: #000;
  --button-text-color: #fff;
  --button-background-color: #53131E;
  --cursed-possession-item-background-color: rgba(0, 0, 0, 0.479);
  --cursed-possession-item-border-color: black;
  --button-hover-box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

[data-theme='dark'] {
  --background-image: url('src/assets/images/background-dark.png');
  --text-color: #cfcfcf;
  --button-text-color: #cfcfcf;
  --button-background-color: #6b6b6b;
  --cursed-possession-item-background-color: #6b6b6b;
  --cursed-possession-item-border-color: gray;
  --button-hover-box-shadow: 0 12px 16px 0 rgba(196, 196, 196, 0.158),0 17px 50px 0 rgba(196, 196, 196, 0.116);
}






