<div class="container">
  <div class="text">
    <h2 style="font-family: PhasmophobiaJournalFont;">Welcome to the Phasmophobia Journal!</h2>
    <p>This is your hub for identifying ghosts. To get started, head over to the <a routerLink="/ghosts">Ghosts</a> section within the Phasmophobia Journal to explore a list of all known ghosts. Click on a specific ghost to learn more about its details.</p>
    <p><br>If you're interested in <a routerLink="/cursed-possessions">cursed possessions</a> you'll find more information within the Phasmophobia Journal as well.</p>
    <p><br>You can customize the page theme by clicking the <mat-icon>highlight</mat-icon> icon in the top right corner.</p>
    <p class="mobile-nav"><br>For easy navigation, access the <a routerLink="/navigation/menu">menu</a> by tapping the <mat-icon>menu</mat-icon> icon in the top right corner.</p>
    <br>
    <div class="support-me">
      <h3 style="font-family: PhasmophobiaJournalFont;">Support the Phasmophobia Journal&#9829;	</h3>
      <p>If you find the Phasmophobia Journal helpful and enjoy an ad-free experience, consider supporting my work! Your support goes a long way in helping me maintain this resource and keep it freely accessible to the community.</p>
      <p><a href="https://www.buymeacoffee.com/noelriedmann" target="_blank">Buy Me a Drink 	&#10084;</a> and be a part of this exciting journey!</p>
    </div>
    <br>
    <p style="font-family: PhasmophobiaJournalFont; font-size: 1.3em;"><br>Happy ghost hunting!</p>
  </div>
  <div class="nav">
    <h3>Navigation</h3>
    <ul>
      <li> <a routerLink="/ghosts"><mat-icon>supervisor_account</mat-icon>&nbsp;&nbsp;{{'GHOSTS' | translate}}</a></li>
      <li> <a routerLink="/cursed-possessions" id="cursed-possessions-1"><mat-icon>extension</mat-icon>&nbsp;&nbsp;{{'CURSED-POSSESSIONS' | translate}}</a></li>
      <li> <a routerLink="/cursed-possessions" id="cursed-possessions-2"><mat-icon>extension</mat-icon>&nbsp;&nbsp;{{'POSSESSIONS' | translate}}</a></li>
      <li> <a routerLink="/about"><mat-icon>info</mat-icon>&nbsp;&nbsp;{{'ABOUT' | translate}}</a></li>
    </ul>
  </div>
</div>
